<div class="container-fluid mt-3" style="background-image: linear-gradient(to left,#00162A,#002A53); height: 100%;">

<p class="text-center text-light mt-2">Himanshu Kumar Sharma</p>
<p class="text-center text-light mt-2">

    <a href="https://github.com/incredible-India/House-Pricing-ML" class="text-light">
        <i class="fa-brands fa-github"></i> Github
    </a>
    <br>
    <a href="mailto:himanshu399231@gmail.com" class="text-light">
        <i class="fa-duotone fa-envelope"></i> Mail
    </a>
</p>

</div>